// slider__wrap
.slider__inner {
    position: relative;
    .slider__img {
        .slider {

            .text {

                h3 {
                    font-size: 110px;
                    font-weight: 800;
                    text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 24px;
                    line-height: 1.2;
                    margin-bottom: 50px;
                }
                .more {
                    font-size: 18px;
                    border-radius: 3px;
                }
                
            }
            .img {
                position: absolute;
                right: 0;
                top: -120px;
                width: 600px;
                height: 600px;
                background-image: url(../../images/iconBg.png);
                background-size: cover;
                img {
                    &:nth-child(1){
                        position: absolute;
                        width: 300px;
                    }
                    &:nth-child(2){
                        position: absolute;
                        width: 300px;
                        bottom: 0;
                    }
                    &:nth-child(3){
                        position: absolute;
                        width: 300px;
                        right: 0;
                        top: 170px;
                    }
                }
               
            }
            .circle {

                span {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                span:nth-child(1) {
                    background-color: var(--button_blue);
                    left: 50%;
                    width: 10px;
                    height: 10px;
                }
                span:nth-child(2) {
                    background-color: var(--button_red);
                    top: 20%;
                    left: -10%;
                    width: 40px;
                    height: 40px;
                }
                span:nth-child(3) {
                    background-color: var(--button_green);
                    left: 100%;
                    top: 10%;
                }
                span:nth-child(4) {
                    background-color: var(--button_red);
                    left: 17%;
                    top: -10%;
                    width: 10px;
                    height: 10px;
                }
                span:nth-child(5) {
                    background-color: var(--button_blue);
                    left: 90%;
                    top: 80%;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    //yosebnim babo 
    .slider__btn {
        > a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
            height: 40px;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
        .left {
            left: 20px;
            background-image: url(../../images/slider_left.png);
        }
        .right {
            right: 20px;
            background-image: url(../../images/slider_right.png);
        }
    }
    .slider__dot {
        position: absolute;
        left: 50%;
        bottom: -20%;
        transform: translateX(-50%);
        a {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 5px;
            border: 4px solid #FF3344;
            background-color: #FF3344;
            box-shadow: 0 0 0 3px transparent;
            &.active {
                box-shadow: 0 0 0 3px #FF3344;
                border-width: 4px;
                background-color: #fff;
            }
        }
    }
}


