:root {
    --color_body : #101010;
    --bg_section : #f6f8fd;
    --button_blue : #4857EC;
    --button_red : #FF3344;
    --button_green : #00C183;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--color_body);
    font-size: 16px;
    line-height: 1.4;
    font-family: 'GmarketSans', -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}

body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
li,
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1rem;
}
em,
address {
    font-style: normal;
}
img,
svg,
video {
    display: block;
    height: auto;
    max-width: 100%;
}
img,
fieldset,
button {
    border: 0;
}

