.img_text__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img_text__inner article {
    width: 31.333%;
}
.img_text__text h3 {
    font-size: 50px;
    margin-bottom: 17px;
}
.img_text__text p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 12px;
}
.img_text__text li {
    position: relative;
    padding-left: 14px;
}
.img_text__inner .img_text__text li::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #666;
    position: absolute;
    left: 0;
    top: 8px;
}
.img_text__inner .img_text__text li a {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}
.img_text__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    position: relative;
}
.img_text__img a {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
}
.img_text__img.i1 {
    background-image: url(../img/img_textType01_02.jpg);
}
.img_text__img.i2 {
    background-image: url(../img/img_textType01_01.jpg);
}
.img_text__img.i1 a {
    background-color: #621515;
}
.img_text__img.i2 a {
    background-color: #156246;
}
.section__small {
    font-size: 14px;
    border-radius: 50px;
    background-color: #218d73;
    color: #fff;
    padding: 1px 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;

}
/* 미디어 쿼리 */
@media (max-width: 960px){
    .img_text__inner .img_text__text {
        width: 100%;
    }
    .img_text__inner .img_text__img {
        width: 49%;
    }
    .img_text__inner .img_text__text h3 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .img_text__inner .img_text__text p {
        font-size: 18px;
        margin-bottom: 40px;
        font-weight: 300px;
    }
    .img_text__inner .img_text__text ul {
        display: none;
    }
}

@media (max-width: 600px){
    .img_text__inner .img_text__img {
        width: 100%;
        margin-bottom: 3%;
    }
    .img_text__inner .img_text__text h3 {
        font-size: 30px;
    }

    .img_text__inner .img_text__text p {
        font-size: 16px;
    }
}