<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let user1 = prompt("첫 번째 숫자를 입력해 주세요");
        let user2 = prompt("두 번째 숫자를 입력해 주세요");
        // 최대공약수 : Greatest Common Divisor (GCD)
        function getGCD(user1, user2) {
        let max = user1 > user2 ? user1 : user2;  //둘 중 큰 수를 알아보는 식입니다. 큰 수를 max 라는 변수로 저장합니다.
        let GCD = 0;       //변수를 0으로 시작합니다.
        for (let i = 1; i <= max; i++) {        //i를 1부터 시작하게 하고 i가 max가 될 때 까지 반복합니다.
            if (user1 % i === 0 && user2 % i === 0) {  // user1을 나눈 후 나머지 값과 user2을 나눈 후 나머지 값이 모두 0이 된다면
            GCD = i;   // 최대공약수            //GCD는 i가 됩니다12
            }
        }
        return GCD;     //몰?루
        }
        document.write(getGCD(user1,user2))
    </script>
</body>
</html>