// header__wrap
.header__wrap {

}
.header__inner {

    text-align: center;
    .header__logo {
        width: 100%;

        a {
            font-size: 30px;
            display: inline-block;
            padding: 5px 5px 0 5px;
            margin: 5px 5px 0 5px;
            text-transform: uppercase;
            font-weight: 800;


            em {
                text-transform: lowercase;
                font-weight: 500;
            }

        }
    }
    .header__nav {
        width: 100%;

        ul {
            padding: 0 10%;
            display: flex;
            justify-content: space-between;

            li {
                
                a {
                    display: inline-block;
                    padding: 20px 10px;
                    margin: 2px;
                    position: relative;

                    &::before {
                        content: '';
                        width: calc(100% - 20px);
                        height: 2px;
                        background-color: var(--color_body);
                        position: absolute;
                        left: 10px;
                        bottom: 15px;
                        transform: scaleX(0);
                        transition: all 0.3s ease;
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }
                }
                
            }
        }
        
    }    
}
