// youtube__wrap

.youtube__wrap {
    overflow: hidden;

    .youtube__inner {
        height: 500px;
        .youtube__text {
            > h3 {
                font-size: 50px;
                font-weight: 400;
                line-height: 1;
                margin-bottom: 40px;
                }
               > p {
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 25px;
               }
        
               > a {
                border-radius: 50px;
               }
        }
       
       .youtube__item {
            padding-top: 70px;
            display: flex;
            position: absolute;
            > div {
                width: 400px;
                margin-right: 27px;
               
                > a {

                    > img {
                        border-radius: 10px;
                        width: 100%;
                        height: 226px;
                    }
                }
            }
       }
    }
}