// container
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    // background-color: rgba(0,0,0,.2);
}

// section 
.section.center {
    > h3 {
        text-align: center;
    }
    > p {
        text-align: center;
    }
    
}
.section {
    padding: 120px 0;

    > h3 {
        font-size: 50px;
    }
    > p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 60px;
    }
}
​// button
.button-blue {
    @include button( #4857EC, #ffffff);
}
.button-red {
    @include button(#FF3344, #ffffff);
}
.button-green {
    @include button( #00C183, #ffffff);
}
​
// icon
.icon-bg1 {
    @include icon(#D3F6EA, url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.5625H24.375V3.75H7.5C6.9725 3.76937 6.53312 3.955 6.18187 4.30687C5.83062 4.65875 5.645 5.09813 5.625 5.625V21.5625ZM7.5 1.875H25.3125C25.5862 1.875 25.8109 1.96281 25.9866 2.13844C26.1622 2.31406 26.25 2.53875 26.25 2.8125V22.5C26.25 22.7737 26.1622 22.9984 25.9866 23.1741C25.8109 23.3497 25.5862 23.4375 25.3125 23.4375H4.6875L3.75 25.1372V5.625C3.76937 4.57 4.13562 3.68625 4.84875 2.97375C5.56187 2.26125 6.44562 1.895 7.5 1.875ZM7.03125 23.4375C6.64063 23.4569 6.31344 23.5984 6.04969 23.8622C5.78594 24.1259 5.65406 24.4531 5.65406 24.8438C5.65406 25.2344 5.78594 25.5616 6.04969 25.8253C6.31344 26.0891 6.64063 26.2306 7.03125 26.25H24.375V23.4375H7.03125ZM7.03125 21.5625H26.25V26.25C26.2306 26.7775 26.045 27.2169 25.6931 27.5681C25.3413 27.9194 24.9019 28.105 24.375 28.125H7.03125C6.09375 28.1056 5.3175 27.7881 4.7025 27.1725C4.0875 26.5569 3.77 25.7806 3.75 24.8438C3.76937 23.9062 4.08687 23.13 4.7025 22.515C5.31812 21.9 6.09438 21.5825 7.03125 21.5625ZM11.25 3.75V11.1037L14.0625 8.84812L16.875 11.1037V3.75H11.25V3.75ZM9.375 1.875H18.75V13.0369C18.7306 13.4275 18.55 13.7059 18.2081 13.8722C17.8663 14.0384 17.5391 14.0044 17.2266 13.77L14.0625 11.25L10.8984 13.77C10.5859 14.0044 10.2588 14.0384 9.91688 13.8722C9.575 13.7059 9.39437 13.4275 9.375 13.0369V1.875Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}
.icon-bg2 {
    @include icon(#E1F9D5, url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15C16.6019 14.9606 17.93 14.4138 18.9844 13.3594C20.0388 12.305 20.5856 10.9769 20.625 9.375C20.5856 7.77312 20.0388 6.445 18.9844 5.39062C17.93 4.33625 16.6019 3.78937 15 3.75C13.3981 3.78937 12.07 4.33625 11.0156 5.39062C9.96125 6.445 9.41437 7.77312 9.375 9.375C9.41437 10.9769 9.96125 12.305 11.0156 13.3594C12.07 14.4138 13.3981 14.9606 15 15ZM15 16.875C12.8713 16.8162 11.1037 16.0838 9.6975 14.6775C8.29125 13.2713 7.55875 11.5037 7.5 9.375C7.55875 7.24625 8.29125 5.47875 9.6975 4.0725C11.1037 2.66625 12.8713 1.93375 15 1.875C17.1287 1.93375 18.8963 2.66625 20.3025 4.0725C21.7088 5.47875 22.4412 7.24625 22.5 9.375C22.4412 11.5037 21.7088 13.2713 20.3025 14.6775C18.8963 16.0838 17.1287 16.8162 15 16.875ZM15 15C15.2737 15 15.4984 15.0878 15.6741 15.2634C15.8497 15.4391 15.9375 15.6638 15.9375 15.9375V23.4375C15.9375 23.7112 15.8497 23.9359 15.6741 24.1116C15.4984 24.2872 15.2737 24.375 15 24.375C14.7263 24.375 14.5016 24.2872 14.3259 24.1116C14.1503 23.9359 14.0625 23.7112 14.0625 23.4375V15.9375C14.0625 15.6638 14.1503 15.4391 14.3259 15.2634C14.5016 15.0878 14.7263 15 15 15V15ZM11.25 19.0134V20.9175C9.55063 21.2106 8.19313 21.5962 7.1775 22.0744C6.16188 22.5525 5.64437 23.0066 5.625 23.4366C5.68375 24.0422 6.58719 24.6525 8.33531 25.2675C10.0834 25.8825 12.305 26.2097 15 26.2491C17.6956 26.2097 19.9172 25.8825 21.6647 25.2675C23.4122 24.6525 24.3156 24.0422 24.375 23.4366C24.3556 23.0066 23.8381 22.5525 22.8225 22.0744C21.8069 21.5962 20.4494 21.2106 18.75 20.9175V19.0134C20.9769 19.3453 22.7738 19.9069 24.1406 20.6981C25.5075 21.4894 26.2106 22.4025 26.25 23.4375C26.1719 24.7656 25.0731 25.8691 22.9537 26.7478C20.8344 27.6266 18.1831 28.0856 15 28.125C11.8163 28.0856 9.165 27.6266 7.04625 26.7478C4.9275 25.8691 3.82875 24.7656 3.75 23.4375C3.78937 22.4025 4.4925 21.4894 5.85938 20.6981C7.22625 19.9069 9.02313 19.3453 11.25 19.0134Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}
.icon-bg3 {
    @include icon(#F6DCE0, url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12715 25.0781L9.08246 23.76L9.78559 24.0825C11.3875 24.9031 13.1259 25.3134 15.0009 25.3134C18.1846 25.2159 20.8359 24.1759 22.9546 22.1934C25.0734 20.2109 26.1721 17.8134 26.2509 15.0009C26.1728 12.1884 25.074 9.79093 22.9546 7.80843C20.8353 5.82593 18.184 4.78593 15.0009 4.68843C11.8171 4.78593 9.1659 5.82593 7.04715 7.80843C4.9284 9.79093 3.82965 12.1884 3.7509 15.0009C3.7509 16.0166 3.92684 17.0225 4.27871 18.0187C4.63059 19.015 5.14809 19.9525 5.83121 20.8312L6.47621 21.6806L5.12715 25.0781ZM3.77902 27.4809C3.40777 27.5984 3.09027 27.5153 2.82652 27.2316C2.56277 26.9478 2.49934 26.6206 2.63621 26.25L4.3359 21.9722C3.55465 20.9372 2.94902 19.8287 2.51902 18.6469C2.08902 17.465 1.87402 16.2491 1.87402 14.9991C1.95215 11.7766 3.20215 8.96905 5.62402 6.57655C8.0459 4.18405 11.1709 2.92905 14.999 2.81155C18.8271 2.92905 21.9521 4.18405 24.374 6.57655C26.7959 8.96905 28.0459 11.7766 28.124 14.9991C28.0459 18.2216 26.7959 21.0291 24.374 23.4216C21.9521 25.8141 18.8271 27.0691 14.999 27.1866C12.8703 27.1866 10.8487 26.7178 8.93434 25.7803L3.77902 27.4809ZM15 16.4944C14.7262 16.4944 14.4771 16.4309 14.2528 16.3041C14.0284 16.1772 13.8478 15.9916 13.7109 15.7472C13.574 15.5028 13.5056 15.2537 13.5056 15C13.5056 14.7462 13.574 14.4972 13.7109 14.2528C13.8478 14.0084 14.0284 13.8228 14.2528 13.6959C14.4771 13.5691 14.7262 13.5056 15 13.5056C15.43 13.5056 15.7865 13.6472 16.0696 13.9303C16.3528 14.2134 16.4943 14.57 16.4943 15C16.4943 15.43 16.3528 15.7866 16.0696 16.0697C15.7865 16.3528 15.43 16.4944 15 16.4944V16.4944ZM20.625 16.4944C20.3512 16.4944 20.1021 16.4309 19.8778 16.3041C19.6534 16.1772 19.4728 15.9916 19.3359 15.7472C19.199 15.5028 19.1306 15.2537 19.1306 15C19.1306 14.7462 19.199 14.4972 19.3359 14.2528C19.4728 14.0084 19.6534 13.8228 19.8778 13.6959C20.1021 13.5691 20.3512 13.5056 20.625 13.5056C21.055 13.5056 21.4115 13.6472 21.6946 13.9303C21.9778 14.2134 22.1193 14.57 22.1193 15C22.1193 15.43 21.9778 15.7866 21.6946 16.0697C21.4115 16.3528 21.055 16.4944 20.625 16.4944V16.4944ZM9.37496 16.4944C9.10121 16.4944 8.85215 16.4309 8.62777 16.3041C8.4034 16.1772 8.22277 15.9916 8.0859 15.7472C7.94902 15.5028 7.88059 15.2537 7.88059 15C7.88059 14.7462 7.94902 14.4972 8.0859 14.2528C8.22277 14.0084 8.4034 13.8228 8.62777 13.6959C8.85215 13.5691 9.10121 13.5056 9.37496 13.5056C9.80496 13.5056 10.1615 13.6472 10.4446 13.9303C10.7278 14.2134 10.8693 14.57 10.8693 15C10.8693 15.43 10.7278 15.7866 10.4446 16.0697C10.1615 16.3528 9.80496 16.4944 9.37496 16.4944V16.4944Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}
.icon-bg4 {
    @include icon(#D3D8FA, url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 11.25V24.375H26.25V11.25H3.75ZM2.8125 9.375H27.1875C27.4612 9.375 27.6859 9.46281 27.8616 9.63844C28.0372 9.81406 28.125 10.0388 28.125 10.3125V25.3125C28.125 25.5862 28.0372 25.8109 27.8616 25.9866C27.6859 26.1622 27.4612 26.25 27.1875 26.25H2.8125C2.53875 26.25 2.31406 26.1622 2.13844 25.9866C1.96281 25.8109 1.875 25.5862 1.875 25.3125V10.3125C1.875 10.0388 1.96281 9.81406 2.13844 9.63844C2.31406 9.46281 2.53875 9.375 2.8125 9.375ZM4.6875 5.625H25.3125V7.5H4.6875V5.625ZM7.5 1.875H22.5V3.75H7.5V1.875Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}
.icon-bg5 {
    @include icon(#DAFBEB, url("data:image/svg+xml,%3Csvg width='29' height='25' viewBox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.58031 18.75H3.75C3.47625 18.75 3.25156 18.6622 3.07594 18.4866C2.90031 18.3109 2.8125 18.0863 2.8125 17.8125V1.875H0.9375C0.66375 1.875 0.439063 1.78719 0.263438 1.61156C0.0878125 1.43594 0 1.21125 0 0.9375C0 0.66375 0.0878125 0.439063 0.263438 0.263438C0.439063 0.0878126 0.66375 0 0.9375 0H27.1875C27.4613 0 27.6859 0.0878126 27.8616 0.263438C28.0372 0.439063 28.125 0.66375 28.125 0.9375C28.125 1.21125 28.0372 1.43594 27.8616 1.61156C27.6859 1.78719 27.4613 1.875 27.1875 1.875H25.3125V17.8125C25.3125 18.0863 25.2247 18.3109 25.0491 18.4866C24.8734 18.6622 24.6488 18.75 24.375 18.75H18.5447L21.7969 24.375H19.6284L16.3763 18.75H11.7469L8.49469 24.375H6.32625L9.58031 18.75ZM23.4375 1.875H4.6875V16.875H23.4375V1.875ZM9.11156 11.9241C8.91594 12.0997 8.69125 12.1875 8.4375 12.1875C8.18375 12.1875 7.96406 12.0947 7.77844 11.9091C7.59281 11.7234 7.5 11.5037 7.5 11.25C7.5 10.9963 7.58781 10.7716 7.76344 10.5759L12.0994 6.26906L15.7613 9.02344L18.9544 5.03906C19.1888 4.74594 19.4866 4.62375 19.8478 4.6725C20.2091 4.72125 20.4531 4.91656 20.58 5.25844C20.7069 5.60031 20.6531 5.91781 20.4188 6.21094L16.1119 11.6016L12.2738 8.73L9.11156 11.9241Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}
.icon-bg6 {
    @include icon(#FFD6FD, url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8325 7.5C11.8556 7.5 11.1231 7.53906 10.635 7.61719C10.1469 7.69531 9.72688 7.83219 9.375 8.02781C8.78875 8.34031 8.33938 8.78969 8.02688 9.37594C7.83125 9.72781 7.69437 10.1478 7.61625 10.6359C7.53812 11.1241 7.49906 11.8566 7.49906 12.8334V20.9194C7.49906 21.8963 7.53812 22.6288 7.61625 23.1169C7.69437 23.605 7.83125 24.025 8.02688 24.3769C8.33938 24.9631 8.78875 25.4125 9.375 25.725C9.72688 25.9206 10.1469 26.0575 10.635 26.1356C11.1231 26.2138 11.8556 26.2528 12.8325 26.2528H17.1684C18.1453 26.2528 18.8778 26.2138 19.3659 26.1356C19.8541 26.0575 20.2741 25.9206 20.6259 25.725C21.2122 25.4125 21.6616 24.9631 21.9741 24.3769C22.1697 24.025 22.3066 23.605 22.3847 23.1169C22.4628 22.6288 22.5019 21.8963 22.5019 20.9194V12.8334C22.5019 11.8566 22.4628 11.1241 22.3847 10.6359C22.3066 10.1478 22.1697 9.72781 21.9741 9.37594C21.6616 8.78969 21.2122 8.34031 20.6259 8.02781C20.2741 7.83219 19.8541 7.69531 19.3659 7.61719C18.8778 7.53906 18.1453 7.5 17.1684 7.5H12.8325V7.5ZM12.8325 5.625H17.1684C18.3797 5.625 19.2978 5.68844 19.9228 5.81531C20.5478 5.94219 21.0753 6.1325 21.5053 6.38625C22.4234 6.87438 23.1266 7.5775 23.6147 8.49563C23.8684 8.92563 24.0588 9.45313 24.1856 10.0781C24.3125 10.7031 24.3759 11.6213 24.3759 12.8325V20.9184C24.3759 22.1297 24.3125 23.0478 24.1856 23.6728C24.0588 24.2978 23.8684 24.8253 23.6147 25.2553C23.1266 26.1734 22.4234 26.8766 21.5053 27.3647C21.0753 27.6184 20.5478 27.8088 19.9228 27.9356C19.2978 28.0625 18.3797 28.1259 17.1684 28.1259H12.8325C11.6213 28.1259 10.7031 28.0625 10.0781 27.9356C9.45313 27.8088 8.92563 27.6184 8.49563 27.3647C7.5775 26.8766 6.87437 26.1734 6.38625 25.2553C6.1325 24.8253 5.94219 24.2978 5.81531 23.6728C5.68844 23.0478 5.625 22.1297 5.625 20.9184V12.8325C5.625 11.6213 5.68844 10.7031 5.81531 10.0781C5.94219 9.45313 6.1325 8.92563 6.38625 8.49563C6.87437 7.5775 7.5775 6.87438 8.49563 6.38625C8.92563 6.1325 9.45313 5.94219 10.0781 5.81531C10.7031 5.68844 11.6213 5.625 12.8325 5.625V5.625ZM15 9.375C15.625 9.375 15.9375 9.6875 15.9375 10.3125V14.0625C15.9375 14.6875 15.625 15 15 15C14.375 15 14.0625 14.6875 14.0625 14.0625V10.3125C14.0625 9.6875 14.375 9.375 15 9.375ZM15.9375 6.5625C15.9375 6.83625 15.8497 7.06094 15.6741 7.23656C15.4984 7.41219 15.2738 7.5 15 7.5C14.7263 7.5 14.5016 7.41219 14.3259 7.23656C14.1503 7.06094 14.0625 6.83625 14.0625 6.5625V4.6875C14.0625 4.41375 13.9747 4.18906 13.7991 4.01344C13.6234 3.83781 13.3988 3.75 13.125 3.75H10.3125C10.0388 3.75 9.81406 3.66219 9.63844 3.48656C9.46281 3.31094 9.375 3.08625 9.375 2.8125C9.375 2.53875 9.46281 2.31406 9.63844 2.13844C9.81406 1.96281 10.0388 1.875 10.3125 1.875H13.125C13.9256 1.89438 14.5897 2.16781 15.1172 2.69531C15.6447 3.22281 15.9181 3.88688 15.9375 4.6875V6.5625Z' fill='%2308080A' fill-opacity='0.96'/%3E%3C/svg%3E%0A"))
}

// blind
.blind {
    position: absolute;
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

// ir
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
​
// skip
#skip {
    position: relative;
    z-index: 100000;
}
#skip a {
    background-color: var(--color_body);
    color: #fff;
    position: absolute;
    padding: 20px 40px;
    left: -400px;
    top: 5px;
}
#skip a:active,
#skip a:focus {
    left: 5px;
}

$interval: (
    0: 0,
    10: 10px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    70: 70px,
    80: 80px,
    90: 90px,
);

@each $value, $size in $interval {
    .mb#{$value} {
        margin-bottom: $size !important;
    }
}
@each $value, $size in $interval {
    .mt#{$value} {
        margin-bottom: $size !important;
    }
}
@each $value, $size in $interval {
    .mr#{$value} {
        margin-bottom: $size !important;
    }
}
@each $value, $size in $interval {
    .ml#{$value} {
        margin-bottom: $size !important;
    }
}

// background
.bg-blue {
    background-color: var(--bg_section);
    // background-color: #0050e60e;

}