@charset "UTF - 8";
/* font */
@import url("https://webfontworld.github.io/naver/NanumGothic.css");

/* reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: "NanumGothic";
    color: #000;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
.container {
    margin: 0 150px;
}
.blind {
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
/* header */
#header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    /* background-color: #e46a6a; */
}
#header .logo {
    height: 100%;
    width: 30%;
    padding-top: 10px;
}

#header .logo img {
    height: 80%;
}
#header ul {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    position: relative;
}
#header ul li {
    display: inline-block;
    padding: 0 20px;
}
#header ul li a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
}
#header .right {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: right;
}
#header .right .submenu {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
/* slider */
#slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#slider .slider__wrap {
    display: flex;
    width: 300%;
    flex-wrap: nowrap;
}
#slider .slider__wrap .slider {
}
#slider .slider__wrap .slider img {
    width: 100%;
}
.slider__dot {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 200px;
}
.slider__dot span {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50px;
    margin: 0 3px;
}
.slider__dot span.active {
    width: 30px;
    background-color: #fff;
}
/* contents */
#cards {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
#cards > div {
    width: 48%;
}
#cards .slider__min {
    position: relative;
    overflow: hidden;
}
#contents #cards .slider__min .slider__wrap {
    width: 300%;
    display: flex;
}
#contents #cards .slider__min .slider__wrap .slider {
    width: 100%;
}
#contents #cards .slider__min .slider__wrap .slider img {
    border-radius: 20px;
    width: 100%;
}
#contents #cards .slider__dot {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* chains */
#cards .chains {
    position: relative;
    overflow: hidden;
}
#contents #cards .chains .chains__wrap {
    width: 300%;
    display: flex;
}
#contents #cards .chains .chains__wrap .chains {
    width: 100%;
}
#contents #cards .chains .chains__wrap .chains img {
    border-radius: 20px;
    width: 100%;
}
.chains__btn__prev {
    position: absolute;
    left: 0;
    top: 40%;
    width: 30px;
    height: 50px;
    background-color: #000;
}
.chains__btn__next {
    position: absolute;
    right: 0;
    top: 40%;
    width: 30px;
    height: 50px;
    background-color: #000;
}
/* coupons */
#coupons {
    background-color: #eaeaea;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
}
#coupons h2 {
    padding-top: 50px;
    padding-bottom: 40px;
    width: 100%;
}
#coupons .coupons__wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#coupons .coupons__wrap .coupon {
    border: 1px solid #fff;
    min-width: 222px;
    height: 200px;
    display: inline-block;
    border-radius: 30px;
    background-color: #fff;
}
#coupons .coupons__wrap .coupon .coupon__title {
    padding-top: 70px;
    font-weight: 500;
    font-size: 20px;
}
#coupons .coupons__wrap .coupon .per {
    font-weight: 500;
    font-size: 45px;
    color: #e20c3e;
}
.coupon__btn__prev {
    position: absolute;
    left: 130px;
    top: 53%;
    width: 30px;
    height: 50px;
    background-color: #000;
}
.coupon__btn__next {
    position: absolute;
    right: 130px;
    top: 53%;
    width: 30px;
    height: 50px;
    background-color: #000;
}
/* decs */
#decs {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
#decs #notice {
    width: 48%;
}
#decs #notice h3 {
    padding-bottom: 30px;
}
#decs #notice h3 span {
}
#decs #notice .notice__wrap {
    width: 560px;
    margin-bottom: 100px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
}
#decs #notice .notice__wrap ul {
    display: flex;
}
#decs #notice .notice__wrap ul li {
    display: inline-block;
    border-right: 1px solid #ccc;
}
#decs #notice .notice__wrap ul li a {
    padding: 40px 20px 0 40px;
    display: block;
}
#decs #notice .notice__wrap ul li a strong {
    line-height: 1.5;
    padding-bottom: 60px;
    font-size: 16px;
    font-weight: bold;
    display: block;
}
#decs #notice .notice__wrap ul li a span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #6e6d6d;
    position: relative;
}
#decs #notice .notice__wrap ul li a span::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    right: 0;
    background-color: #000;
    border-radius: 50px;
}
