@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
#wrap {
    width: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #EFEFEF;
    position: relative;
    z-index: 1000;
}
#header .container {
    display: flex;
    align-items: end;
    position: relative;
}
#header .container::after {
    content: '';
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
}
#header .container.on::after {
    height: 160px;
}
#header .container .logo {
    width: 20%;
    padding: 30px 0;
}
#header .container .nav {
    width: 80%;
    text-align: right;
}
#header .container .nav > ul {
    display: flex;
    justify-content: right;
}
#header .container .nav > ul > li {
    position: relative;
}
#header .container .nav > ul > li > a {
    display: block;
    padding: 15px 40px;
    background-color: #FFE194;
}
#header .container .nav > ul > li > a:hover {
    background-color: #FFD66F;
}
#header .container .nav > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    text-align: center;
    width: 100%;
}
#header .container .nav > ul > li > ul > li > a {
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
}
#header .container .nav > ul > li > ul > li > a:hover {
    background-color: #D9B352;
}
/* slider */
#slider {
    width: 100%;
    height: 300px;

}
#slider .container {
    overflow: hidden;
}
#slider .sliderWrap {
    display: flex;
    width: 400%;
}
#slider .sliderWrap .slider {
    position: relative;
    width: 1200px;
}
#slider .sliderWrap .slider img {}
#slider .sliderWrap .slider .text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000050;
    padding: 20px 40px;

}
#slider .sliderWrap .slider .text h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 4px;
}
#slider .sliderWrap .slider .text h2 strong {
    color: orange;
}
#slider .sliderWrap .slider .text p {
    color: #fff;
    font-size: 16px;
}
/* main */
#main {
    width: 100%;
    height: 200px;

}
#main .container {
    display: flex;
}
#main .container .notice {
    width: 400px;
    padding: 23px 20px;
    background-color: #dfc7c7;
}
#main .container .notice h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#main .container .notice li {
   display: flex;
   line-height: 1.8;
   padding-left: 14px;
   position: relative;
}
#main .container .notice li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    left: 0;
    top:11px;
    border-radius: 50%;

}
#main .container .notice li a {
    width: 70%;
}
#main .container .notice li a:hover {
    text-decoration: underline;
}
#main .container .notice li span {
    width: 30%;
    text-align: right;
}
#main .container .gallery {
    width: 400px;
    padding: 25px 20px;
    
}
#main .container .gallery h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#main .container .gallery ul {
    display: flex;
}
#main .container .banner {
    width: 400px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}
#main .container .banner h3 {
    font-size: 24px;
    margin-top: 40px;
    color: #f9b3b3;
}
#main .container .banner a {
    background-color: #000000;
    color: #fff;
    display: inline-block;
    border-radius: 40px;
    padding: 10px 30px;
}
/* footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #fbfbfb;
}
#footer .container {
    display: flex;
}
#footer .container .footer1 {
    width: 80%;
}
#footer .container .footer1 .footer1-1 {
    padding-top: 15px;
    width: 100%;
    height: 50px;
}
#footer .container .footer1 .footer1-1 li {
    display: inline-block;
    border-right: 1px solid #333;
}
#footer .container .footer1 .footer1-1 li:last-child {
    border: 0;
}
#footer .container .footer1 .footer1-1 li a {
    padding: 16px 10px 16px 0;
}
#footer .container .footer1 .footer1-2 {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
#footer .container .footer2 {
    width: 20%;
}
#footer .container .footer2 select {
    margin-top: 35px;
    width: 100%;
    height: 30px;
}