* {
    margin: 0;
    padding: 0;
    
}
.wrap {
    margin: 0 auto;
    justify-content: center;
    width: 1000px;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.slider__inner {
    width: 1000px;
    height: 800px;
}
.slider__inner > div > img {
    width: 1000px;
    height: 800px;
}
.ddd {
    position: absolute;
    left: 9em;
    top: 30px;
    width: 700px;
    margin-top: 50px;
    border: 3px solid #fff;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);

}
.p {
    display: inline-block;
    font-size: 40px;
    padding: 70px 50px 30px;
    line-height: 1.5;
}
.q {
    text-align: right;
    margin-right: 15%;
    font-size: 25px;
    margin-bottom: 50px;
}