.music__inner {
    width: 350px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 22px;
    border-radius: 20px;
    box-shadow: 0 60px 100px rgba(0,0,0,0.4);
}
.music__header {
}
.music__header h2 {
    text-align: center;
    font-size: 14px;
    padding-top: 3px;
    font-family: 'Poppins';
    font-weight: 200;
}
.music__header .left {}
.music__header .right {}
.music__contents {}
.music__view {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    padding: 0 20px 20px 20px;
    width: 90%;
}
.music__view .image {
}
.music__view .image img {
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(246, 50, 50, 0.4);
}
.music__control {
    background-color: #fff;
    height: 330px;
    border-radius: 15px;
    margin-top: 200px;
    padding: 0 5%;
}
.music__control .title {
    text-align: center;
    padding-top: 120px;
}
.music__control .title h3 {
    margin-bottom: 5px;
    color: #000;
    font-size: 20px;
}
.music__control .title p {
    color: #666;
    font-size: 16px;
    padding-bottom: 20px;
}
.music__control .progress {
    background-color: #ccc;
    height: 5px;
    border-radius: 3px;
}
.music__control .progress .bar {
    background-color: #8f1717;
    height: 5px;
    border-radius: 3px;
    width: 0%;
}
.music__contents .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__contents .progress .timer span {
    color: #8f1717;
    font-size: 12px;
    pointer-events: none;
}
.music__control .control {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music__control .control span {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.music__control .control span :active {
    background-color: #eaeaea;
    border-radius: 50%;
}
.music__control .control span i {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../img/music_Icon.svg);
    background-size: 500px;
}
.music__control .control span:nth-child(3){
    background-color: #8f1717;
    border-radius: 50%;
}
.music__control .control span i.repeat {
    background-position: 0 0;
}
.music__control .control span i.prev {
    background-position: -120px 0;
}
.music__control .control span i.play {
    background-position: -160px 0px;
}
.music__control .control span i.next {
    background-position: -240px 0;
}
.music__control .control span i.list {
    background-position: -280px 0;
}
.music__control .control span i.repeat_one {
    background-position: -40px 0;
}
.music__control .control span i.shuffle {
    background-position: -80px 0px;

}
.music__control .control span i.stop {
    background-position: -200px 0px;

}
.music__list {
    border-radius: 0 0 15px 15px;
    padding: 10px;    
    display: none;
}
.music__list.show {
    display: block;
}
.music__list h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}
.music__list h3 .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-image: url(../img/music_Icon.svg);
    background-position: -320px 0px ;
    width: 40px;
    height: 40px;
    border-radius: 2px;

}
.music__list ul {
    height: 190px;
    overflow-y: scroll;
}
.music__list ul::-webkit-scrollbar {
    width: 5px;
}
.music__list ul::-webkit-scrollbar-thumb {
    height: 30%;
    background: #fdfdfd76;
    border-radius: 10px;
}
.music__list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}
.music__list ul  li {
    margin-right: 5px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.7);
    padding: 3px;
    display: flex;
    align-items: center;
}
.music__list ul  li.playing {
    background-color: #ffffff20;
}
.music__list ul  li:last-child {
    margin-bottom: -10px;
}
.music__list ul  li img {
    width: 50px;
    height: 100%;
    border-radius: 4px;
    padding-left: 1px;

}
.music__list ul  li.active {
    background-color: rgba(208, 188, 219, 0.566);
}
.music__list ul  li > div strong,
.music__list ul  li > div > span,
.music__list ul  li > div > em {
    display: inline-block;
}

.music__list ul  li > span {
    padding-right: 10px;
}